<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
  <div class="text-center">
    <img src="./assets/images/logoCoffre1.2.png" width="440" height="152">
  </div>
    
    <div class="authentification">
      <div class="form-group form-horizontal">
        <label>Login</label>
        <input class="form-control" placeholder="Enter your email" [formControl]="email" required />
      </div>
      <div class="form-group">
        <label>Mot de passe</label>
        <input class="form-control" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password" required/>
      </div>
      <button type="submit" (click)="login($event)" class="btn btn-success">VALIDER</button>
    </div>
</div>
