<nav *ngIf="router.url !== '/login'" class="navbar navbar-inverse navbar-fixed-top" id="navbarMain">
  <div class="container-fluid">
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#"><img src="./assets/images/logoCoffre1.2.png" alt="Captain Skill" width="110" height="38"> </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li *ngIf="currentUser.right>=1" class="nav-item" routerLink="/home" routerLinkActive="active">
          <a class="nav-link">Home</a>
        </li>
        <li class="nav-item" routerLink="/profil" routerLinkActive="active">
          <a class="nav-link">Profil</a>
        </li>
        <li  *ngIf="currentUser.right>=1" class="nav-item" routerLink="/skill_validation" routerLinkActive="active">
          <a class="nav-link">Skill Validation</a>
        </li> 
        <li *ngIf="currentUser.right>=2" class="nav-item" routerLink="/skill_management" routerLinkActive="active">
          <a class="nav-link">Skill Management</a>
        </li>
        <li *ngIf="currentUser.right>=2" class="nav-item" routerLink="/collaborator_management" routerLinkActive="active">
          <a class="nav-link">Collaborator Management</a>
        </li>
        <li class="nav-item" routerLink="/settings" routerLinkActive="active">
            <a class="nav-link">Settings</a>
        </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <span class="navbar-text">{{currentUser.firstname}} {{currentUser.lastname}}</span>
            </li>
            <li>
              <a routerLink="/login" type="button" class="btn btn-lg" id="DisconnectButton" (click)="Disconnect()">
                Disconnect
              </a>
            </li>
    
      </ul>
    </div>
  </div>
</nav>




