<div class="container col-sm-8 col-lg-8" id="UserTable">
    <div class="table-responsive">
        <table id="table_format" class="table table-striped table-bordered">
            <tbody>
              <tr>
                <th>
                  <div style="display:none">Collaborators name</div>
                  <select class="form-control">
                    <option value="--all--"></option>
                  </select>
                </th>
                <th>
                  <div style="display:none">Disponibility</div>
                  <select class="form-control">
                    <option value="--all--"></option>
                  </select>
                </th>
                <th>
                  <div style="display:none">General Skill Type</div>
                  <select class="form-control">
                    <option value="--all--"></option>
                  </select>
                </th>
                <th>
                  <div style="display:none">Skill Type</div>
                  <select class="form-control">
                    <option value="--all--"></option>
                  </select>
                </th>
                <th>
                  <div style="display:none">Skill</div>
                  <select class="form-control">
                    <option value="--all--"></option>
                  </select>
                </th>
                <th>
                  <div style="display:none">Level</div>
                  <select class="form-control">
                    <option value="--all--"></option>
                  </select>
                </th>
                <th>
                    <div style="display:none">Level validation</div>
                    <select class="form-control">
                      <option value="--all--"></option>
                    </select>
                  </th>
                </tr>

                <!--Boucler sur les owns-->
                <tr *ngFor='let own of owns'>
                  <td ddtf-value>{{own.user.firstname}} {{own.user.lastname}}</td>
                  <td ddtf-value>{{own.user.status.name}}</td>
                  <td ddtf-value>{{own.skill.skillType.generalSkillType.name}}</td>
                  <td ddtf-value>{{own.skill.skillType.name}}</td>
                  <td ddtf-value>{{own.skill.name}}</td>
                  <td ddtf-value>
                    <div [ngSwitch]="own.level">
                        <div *ngSwitchCase="'0'" id="colorstar" class="legendstar"><span class="legendstar"><img src="../../../../../assets/images/star0.png" width="100px"/></span>
                        </div>
                        <div *ngSwitchCase="'1'" id="colorstar" class="legendstar"><span class="legendstar"><img src="../../../../../assets/images/star1.png" width="100px"/></span>
                        </div>
                        <div *ngSwitchCase="'2'" id="colorstar"  class="legendstar"><span class="legendstar"><img src="../../../../../assets/images/star2.png" width="100px"/></span>
                        </div>
                        <div *ngSwitchCase="'3'" id="colorstar" class="legendstar"><span class="legendstar"><img src="../../../../../assets/images/star3.png" width="100px"/></span>
                        </div>
                        <div *ngSwitchCase="'4'" id="colorstar" class="legendstar"><span class="legendstar"><img src="../../../../../assets/images/star4.png" width="100px"/></span>
                        </div>
                        <div *ngSwitchCase="'5'" id="colorstar" class="legendstar"><span class="legendstar"><img src="../../../../../assets/images/star5.png" width="100px"/></span>
                        </div>
                        <div *ngSwitchDefault></div>
                      </div>
                    <span *ngIf="own.level>=0 && own.level<=5;else na" class="badge">{{own.level}}</span>
                    <ng-template #na><span class="badge">NA</span></ng-template>
                  </td>
          <td ddtf-value >
            <span [ngSwitch]="own.validation">
              <div *ngSwitchCase="'0'" class="col-xs-offset-2">To complete</div>
              <div *ngSwitchCase="'1'" class="col-xs-offset-2">In process</div>
              <div *ngSwitchCase="'2'" class="col-xs-offset-2">Validated</div>
              <div *ngSwitchCase="'3'" class="col-xs-offset-2">Unvalidated</div>
              <div *ngSwitchDefault>NA</div>
            </span>
          </td>
                </tr>

              </tbody>
            </table>
    </div>
</div>