<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class= "container" id="contained">
    <div class= "choose-collab-item">
      <select class="form-control" onChange="selectUser" (change)="onChange($event)" id="selectUser">
        <option disabled>Choose a collaborator</option>
        <option *ngFor="let user of users" value={{user.id}}>
          {{user.firstname}} {{user.lastname}}
        </option>
      </select>
    </div><br>
    <Cpt-tabs>
      <Cpt-tab *ngIf="selectedUser!=null" [tabTitle]= "" [userSelected]="selectedUser">
      </Cpt-tab>
    </Cpt-tabs>
  </div>
</body>
