body {
	position: relative; 
}

#contained{
	margin-top: 100px;
}

#selectUser{
	width:200px;
}

#topButton {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
}

#topButton:hover {
  background-color: #555;
}

#colorstar { color: #ee8b2d;}
.badForm {color: #FF0000;}
.goodForm {color: #00FF00;}
.evaluation { margin-left:30px;} 
















