<div class="container">
  
      <div class="panel panel-default">
      <div class="panel-heading">Legend:</div>
      <div class="row">
        <div class="col-xs-2">Edit: <span class="glyphicon glyphicon-pencil"></span></div>
        <div class="col-xs-10">Choose a level:
            <div class="row">
              <div class="col-xs-4">
                <div class="legendstar"><img src="../../../../../assets/images/star0.png" width="100px"/></div>
                 No knowledge
              </div>
             
              <div class="col-xs-4">
                <div class="legendstar"><img src="../../../../../assets/images/star2.png" width="100px"/></div>
                   Basic
                </div>
            <div class="col-xs-4">
              <div class="legendstar"><img src="../../../../../assets/images/star4.png" width="100px"/></div>
               Master
            </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <div class="legendstar"><img src="../../../../../assets/images/star1.png" width="100px"/></div>
               Beginner
              </div>
              <div class="col-xs-4">
                <div class="legendstar"><img src="../../../../../assets/images/star3.png" width="100px"/></div>
                 Confirmed
              </div>
              <div class="col-xs-4">
                <div class="legendstar"><img src="../../../../../assets/images/star5.png" width="100px"/></div>
                 Expert
              </div>
            </div>
            </div>
          </div>
        </div>
  
  
              <div class="table-responsive">
                <table id="table_format" class="table table-bordered">
                  <tbody>
                    <tr>
                      <th>
                        <div style="display:none">General Skill Type</div>
                        <select class="form-control">
                          <option value="--all--"></option>
                          <option value="Technical"></option>
                          <option value="Soft"></option>
                        </select>
                      </th>
                      <th>
                        <div style="display:none">Skill Type</div>
                        <select class="form-control">
                          <option value="--all--"></option>
                          <option value="Object Language"></option>
                          <option value="Web Development"></option>
                          <option value="Commerce"></option>
                          <option value="Leadership"></option>
                        </select>
                      </th>
                      <th>
                        <div style="display:none">Skill</div>
                        <select class="form-control">
                          <option value="--all--"></option>
                          <option value="Java"></option>
                          <option value="Python"></option>
                          <option value="GoatSimulator"></option>
                          <option value="Javascript"></option>
                          <option value="Html"></option>
                          <option value="CSS"></option>
                          <option value="Oral Ease"></option>
                          <option value="Diplomat"></option>
                          <option value="Planification"></option>
                          <option value="Market Strategy"></option>
                          <option value="Cost Evaluation"></option>
                          <option value="Time Evaluation"></option>
                        </select>
                      </th>
                      <th>
                        <div style="display:none">Level</div>
                        <select class="form-control">
                          <option value="--all--"></option>
                          <option value="NA"></option>
                          <option value="0"></option>
                          <option value="1"></option>
                          <option value="2"></option>
                          <option value="3"></option>
                          <option value="4"></option>
                          <option value="5"></option>
                        </select>
                      </th>
                      <th>
                        <div style="display:none">Validation status</div>
                        <select class="form-control">
                          <option value="--all--"></option>
                          <option value="Validated"></option>
                          <option value="To complete"></option>
                          <option value="Unvalidated"></option>
                          <option value="In process"></option>
                        </select>
                      </th>
                      </tr>
                    
                      <!--Boucler sur les owns du user-->
                      <tr *ngFor='let own of owns'>
                        <td ddtf-value>{{own.skill.skillType.generalSkillType.name}}</td>
                        <td ddtf-value>{{own.skill.skillType.name}}</td>
                        <td ddtf-value>{{own.skill.name}}</td>
                        <td ddtf-value>
                            <form id="ratingsForm">
                                <div [hidden]="editable==false || numOwn!=own.id">
                                <input type="radio" name ="star" class="star-0 glyphicon glyphicon-minus-sign" id="star-0-{{own.id}}"
                                [value]="" (change)="onSelectionChange(0, own.id)" [disabled]="editable==false || numOwn!=own.id"
                                [checked]="own.level==0" [hidden]="editable==false || numOwn!=own.id"/>
                                <label class="star-0" for="star-0-{{own.id}}"></label>
                              </div>
                                <div class="stars">
                                    
                                    <input type="radio" name="star" class="star-1" id="star-1-{{own.id}}"
                                    [value]="" (change)="onSelectionChange(1, own.id)" [disabled]="editable==false || numOwn!=own.id"
                                    [checked]="own.level==1" />
                                    <label class="star-1" for="star-1-{{own.id}}">1</label>
                                    <input type="radio" name="star" class="star-2" id="star-2-{{own.id}}"
                                    [value]="" (change)="onSelectionChange(2, own.id)" [disabled]="editable==false || numOwn!=own.id"
                                    [checked]="own.level==2" />
                                    <label class="star-2" for="star-2-{{own.id}}">2</label>
                                    <input type="radio" name="star" class="star-3" id="star-3-{{own.id}}" 
                                    [value]=""(change)="onSelectionChange(3, own.id)" [disabled]="editable==false || numOwn!=own.id"
                                    [checked]="own.level==3" />
                                    <label class="star-3" for="star-3-{{own.id}}">3</label>
                                    <input type="radio" name="star" class="star-4" id="star-4-{{own.id}}"
                                    [value]="" (change)="onSelectionChange(4, own.id)" [disabled]="editable==false || numOwn!=own.id"
                                    [checked]="own.level==4" />
                                    <label class="star-4" for="star-4-{{own.id}}">4</label>
                                    <input type="radio" name="star" class="star-5" id="star-5-{{own.id}}"
                                    [value]="" (change)="onSelectionChange(5, own.id)" [disabled]="editable==false || numOwn!=own.id"
                                    [checked]="own.level==5" />
                                    <label class="star-5" for="star-5-{{own.id}}">5</label>
                                    <span></span>
                                </div>
                            </form>

                          <span *ngIf="own.level>=0 && own.level<=5;else na" class="badge">
                            <div *ngIf="changed==true && numOwn==own.id">{{selectedStar}}</div>
                            <div *ngIf="!(changed==true && numOwn==own.id)">{{own.level}}</div>
                          </span>
                          <ng-template #na><span class="badge">NA</span></ng-template>
                          
              <div class="buttons">
                <div [hidden]="editable==false || numOwn!=own.id">
                  <button type="button" (click)="okLevel(own.id,selectedStar)"><span class="glyphicon glyphicon-ok"></span></button> 
                  <button type="button" (click)="cancelLevel(own.level)"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
                <div [hidden]="editable==true && numOwn==own.id">
                <button type="button" class="btn btn-default btn-sm" (click)="edit(own.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                </div>
              </div>
                        </td>
                <td ddtf-value>
                  <span [ngSwitch]="own.validation">
                    <div *ngSwitchCase="'0'">To complete</div>
                    <div *ngSwitchCase="'1'">In process</div>
                    <div *ngSwitchCase="'2'">Validated</div>
                    <div *ngSwitchCase="'3'">Unvalidated</div>
                    <div *ngSwitchDefault>NA</div>
                  </span>
                </td>
                      </tr>




                      </tbody>
                  </table>
          </div>
  
  
  </div>
      

  
       
  
   
  
       
  
  

  