<div class= "container" id="contained">
  <div class="row">
    <div class= "col-sm-6 col-xs-12"id="leftContained">
      <div class="col-xs-12" id="title"><label><b>Change password</b></label><br><br></div>
      <div class="col-xs-4"><label><b>Current password</b></label></div>
      <div class="col-xs-5"><input class="form-control" type="text" placeholder="Current Password" name="currentPassword" id="currentPassword"><br></div>
      <div class="col-xs-4"><label><b>New password</b></label><br></div>
      <div class="col-xs-5"><input class="form-control" type="text" placeholder="New Password" name="newPassword" id="newPassword"><br></div>
      <div class="col-xs-4"><label><b>Confirm password</b></label></div>
      <div class="col-xs-5"><input class="form-control" type="text" placeholder="Confirm Password" name="confirmPassword" id="confirmPassword"><br></div>
      <div class="col-xs-offset-4 col-xs-3"><button class="btn btn-primary" type="submit" onclick="changePassword()">Save new password</button></div>	
    </div>
    <div class= "col-sm-6 col-xs-12"id="rightContained">
      <div class="col-xs-12" id="title"><label><b>Status</b></label><br><br></div>
      <div class="col-xs-12"><label><input type="radio" name="optradio" id='availableStatus'>	Available</label><br><br></div><br>
      <div class="col-xs-4"><label><input type="radio" name="optradio" id='absentStatus'> Absent until</label></div>
      <div class="col-xs-5">
        <div class='input-group date'>
          <input type='text' class="form-control" id='datetimePickerAbsentText'>
          <span class="input-group-addon" id='datetimePickerAbsentButton'>
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div><br>
      </div>
      <div class="col-xs-4"><label><input type="radio" name="optradio" id='trainingStatus'> In training until</label></div>
      <div class="col-xs-5">
        <div class='input-group date'>
          <input type='text' class="form-control" id='datetimePickerTrainingText'>
          <span class="input-group-addon" id='datetimePickerTrainingButton'>
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div><br>
      </div>
      <div class="col-xs-3">
        <div class="space">
          <select class="form-control" id="skillList">
            <option>Choose a skill</option>
            <option *ngFor='let skill of skills'>
              {{skill.name}}
            </option>
          </select>
        </div><br>
      </div>
      <div class="col-xs-offset-9 col-xs-3"><button class="btn btn-primary" type="submit">Save new status</button></div>
    </div>
  </div>
</div>
