<div class="container">
  
  <br>
  <div class="row">
  <div class="create-button col-xs-1">
    <button routerLink="/create_collaborator_management" type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus"></span>
           Create
      </button>	
  </div>
  </div>
  
  <div class="row">
  <div class="col-xs-12 col-sm-offset-1 col-sm-10">
  <div class="table-responsive table-hover">
                <table id="table_format" class="table table-bordered">
                  <tbody>
                    <tr>
                      <th>
                        <div style="display:none">Collaborators name</div>
                        <select class="form-control">
                          <option value="--all--"></option>
                        </select>
                      </th>
                      <th>
                        <div style="display:none">Rights</div>
                        <select class="form-control">
                          <option value="--all--"></option>
                        </select>
                      </th>
                      </tr>

                      <!-- Boucle for pour affichage table -->
                      <tr *ngFor='let user of users'> 
                        <td ddtf-value>{{user.firstname}} {{user.lastname}}</td>
                        <td ddtf-value>
                            <div [hidden]="editable == true && numUser==user.id">
                            <div *ngIf="!(changed==true && numUser==user.id)">
                            <span [ngSwitch]="user.right">
                                <div *ngSwitchCase="'0'">Standard</div>
                                <div *ngSwitchCase="'1'">Referent</div>
                                <div *ngSwitchCase="'2'">Project Manager</div>
                                <div *ngSwitchDefault>NA</div>
                              </span>
                            </div>
                            <div *ngIf="changed==true && numUser==user.id">
                                <span [ngSwitch]="selectedRight">
                                    <div *ngSwitchCase="'0'">Standard</div>
                                    <div *ngSwitchCase="'1'">Referent</div>
                                    <div *ngSwitchCase="'2'">Project Manager</div>
                                    <div *ngSwitchDefault>NA</div>
                                  </span>
                            </div>
                            </div>
                              <div [hidden]="editable==false || numUser!=user.id">
                              <select class="form-control" id="sel1" (change)="setRight($event)" >
                                <option value="0" [selected]="user.right==0">Standard</option>
                                <option value="1" [selected]="user.right==1">Referent</option>
                                <option value="2" [selected]="user.right==2">Project manager</option>
                              </select>
                            </div>
                              <div class="buttons">
                                <div [hidden]="editable==false || numUser!=user.id">
                                  <button type="button" (click)="okRight(user.id,selectedRight)"><span class="glyphicon glyphicon-ok"></span></button> 
                                  <button type="button" (click)="cancelRight(user.right)"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                                <div [hidden]="editable==true && numUser==user.id">
                                <button type="button" class="btn btn-default btn-sm" (click)="edit(user.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-trash"></span></button>                                
                                </div>
                              </div>
                          
                        </td>
                        
                      </tr>


                    </tbody>
                  </table>
  </div>
  </div>
  </div>

  

    
        
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure to remove the collaborator from the project?</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
        
      </div>
    </div>
  </div>
