<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 ">
  <div class="container-fluid" id="formgroupGST-CreateGST">
    <div class="form-group">
      <label class=" control-label">General Skill Type</label>
      <div class=" selectContainer">
        <select class="form-control" name="generalSkillType">
            <option value="">Choose a general skill type</option>
            <option *ngFor="let generalSkillType of generalSkillTypes" value={{generalSkillType.name}}>
              {{generalSkillType.name}}
            </option>
        </select>
      </div>
    </div>
    <button class="btn btn-primary" data-toggle="modal" data-target="#NewGSTModal">Create</button>
  </div>
  <div class="container-fluid" id="formgroupST-CreateST">
    <div class="form-group">
      <label class=" control-label">Skill Type</label>
        <div class=" selectContainer">
          <select class="form-control" name="SkillType">
              <option value="">Choose a skill type</option>
              <option *ngFor="let skillType of skillTypes" value={{skillType.name}}>
                  {{skillType.name}}
              </option>
          </select>
      </div>
    </div>
    <button class="btn btn-primary" data-toggle="modal" data-target="#NewSTModal">Create</button>
  </div>
  <div class="container-fluid" id="formgroupST-CreateST">
    <div class="form-group">
      <label class="control-label">Skill</label>
        <div class="form-group">
        <div>
        <input class="form-control" id="NewSname" placeholder="New skill name">
      </div>
    </div>
    </div>
    <button class="btn" routerLink="/skill_management">Cancel</button>
    <button id="validate" class="btn btn-success" (click)="createSkill(skillName.value)">Validate</button>
  </div>
</div>

<div class="modal fade" id="NewGSTModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body col-xs-12">
        <div class="form-group">
          <label class="control-label col-xs-7" for="NewGSTname">New general skill type: </label>
          <div>
            <input #generalSkillTypeName class="form-control" type="text" (keyup)="setGeneralSkillTypeName($event)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="createGeneralSkillType(generalSkillTypeName.value)">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="NewSTModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div class="modal-body col-xs-12">
        <div class="form-group">
          <label class="control-label col-xs-7" for="NewSTname">New skill type: </label>
          <div>
            <input #skillTypeName class="form-control" type="text" (keyup)="setSkillTypeName($event)">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary"  (click)="createSkillType(skillTypeName.value)">Create</button>
      </div>
    </div>
  </div>
</div>
