<ul class="nav nav-tabs">
    <li *ngFor="let tab of dynamicTabs" (click)="selectTab(tab)" [class.active]="tab.active">
      <a>{{tab.title}} <span class="tab-close" *ngIf="tab.isCloseable" (click)="closeTab(tab)" >&#x2716;</span></a>
    </li>
</ul>
<ng-template dynamic-tabs></ng-template>
