<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label" for="firstname">Firstname:</label>
        <div>
          <input #firstname class="form-control" type="text" placeholder="Enter firstname" (keyup)="setFirstname($event)">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="lastname">Lastname:</label>
        <div>          
          <input #lastname class="form-control" placeholder="Enter lastname" type="text" (keyup)="setLastname($event)">
        </div>
      </div>
  <div class="form-group">
        <label class="control-label" for="email">Email:</label>
        <div>          
          <input #email class="form-control" type="text" placeholder="Enter an email" (keyup)="setEmail($event)">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="rights">Account right:</label>
        <div>          
        <select class="form-control" id="sel1" (change)="setRight($event)" >
          <option value="">Choose Right</option>
          <option value="0">Standard</option>
          <option value="1">Referent</option>
          <option value="2">Project manager</option>
        </select>
        </div>
      </div>
      <div class="form-group">        
        <div>
          <button class="btn btn-success" type="submit" (click)="createColl(firstname.value, lastname.value, email.value)">Create</button><button routerLink="/collaborator_management" class="btn btn-secondary">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  

