.pane{
    padding: 1em;
  }

  #userList{
    width:200px;
  }
  
  #validationButton {
    height:22px;
  }
  
  #unvalidationButton {
    height:22px;
  }
  
  #modalTitle {
    text-align: left;
    font-weight: bold;
  }
  
  .divider{
      margin-left:65px;
      display:inline-block;
  }
  
  #commentary {
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  
      width: 100%;
  }
  
  #colorstar { color: #ee8b2d;}
  .badForm {color: #FF0000;}
  .goodForm {color: #00FF00;}
  .evaluation { margin-left:30px;} 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  