<div [hidden]="!active" class="pane">
  <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>General Skill Type</th>
            <th>Skill Type</th>
            <th>Skill</th>
            <th>Level</th>
            <th>Validation Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let own of owns'>
              <ng-template ng-if="(own.skill != null && own.skill.skillType != null && own.skill.skillType.generalSkillType != null); then hasSkill else notSkill">
                <td ddtf-value>{{own.skill.skillType.generalSkillType.name}}</td>
                <td ddtf-value>{{own.skill.skillType.name}}</td>
                <td ddtf-value>{{own.skill.name}}</td>
              </ng-template>
              <ng-template #notSkill>
                <td colspan="3">Error</td>
              </ng-template>
              <td ddtf-value>{{own.own_level}}</td>
              <td ddtf-value>
                <button type="button" class="btn btn-success btn-xs" id="validationButton" data-keyboard="false" data-backdrop="static" data-toggle="modal" data-target="#validationModal"><p>&#x2714;</p></button>
                <div class="modal fade" id="validationModal" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="modalTitle">Validate the skill</h4>
                      </div>
                      <div class="modal-body">
                        <textarea class="form-control" rows="10" name="commentary" id="commentary" placeholder="Enter Comment" value=""></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-keyboard="false" data-backdrop="static" data-toggle="modal" data-target="#validationSended">Send</button>
                        <div class="modal fade" id="validationSended" role="dialog">
                          <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="modalTitle">Skill validated</h4>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="divider">
                  <button type="button" class="btn btn-danger btn btn-xs" id="unvalidationButton" data-keyboard="false" data-backdrop="static" data-toggle="modal" data-target="#unvalidationModal"><p>&#x2716;</p></button>
                  <div class="modal fade" id="unvalidationModal" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title" id="modalTitle">Unvalidate the skill</h4>
                        </div>
                        <div class="modal-body">
                          <textarea class="form-control" rows="10" name="commentary" id="commentary" placeholder="Enter Comment" value=""></textarea>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-keyboard="false" data-backdrop="static" data-toggle="modal" data-target="#unValidationSended">Send</button>
                          <div class="modal fade" id="unValidationSended" role="dialog">
                            <div class="modal-dialog modal-sm">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title" id="modalTitle">Skill unvalidated</h4>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr> 
        </tbody>
      </table>
  </div>   
</div>