
<div class="col-xs-12 col-sm-offset-1 col-sm-10" id="UserTable">
  <button type="button" class="btn btn-default btn-sm" id="createBtn" routerLink="/create_skill_management">
      <span class="glyphicon glyphicon-plus"></span>
        Create
  </button>
  <div class="row">
      <div class="panel panel-primary filterable">
        <table id="table_format" class="table table-striped table-bordered">
          <tbody>
            <tr>
              <th>
                <div style="display:none">General Skill Type</div>
                <select class="form-control">
                  <option value="--all--"></option>
                </select>
              </th>
              <th>
                <div style="display:none">Skill Type</div>
                <select class="form-control">
                  <option value="--all--"></option>
                </select>
              </th>
              <th>
                <div style="display:none">Skill</div>
                <select class="form-control">
                  <option value="--all--"></option>
                </select>
              </th>
              </tr>

                
                
              <tr *ngFor='let own of owns'> 
                  <td ddtf-value>{{own.skill.skillType.generalSkillType.name}}</td>
                  <td ddtf-value>{{own.skill.skillType.name}}</td>
                  <td ddtf-value>{{own.skill.name}}
                    <span class="buttons">
                      <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
                      <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-trash"></span></button>
                    </span>
                  </td>

                  
                </tr>


          </tbody>
        </table>
    </div>
  </div>
</div>


<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Deleting Skill</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

  Do you really want to delete skillname ?
  x persons have it.

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Validate</button>
      </div>
    </div> 
  </div>
</div>





